In [15]:
from pickle import FALSE, TRUE

from datetime import datetime
import pandas as pd
import requests
from datetime import timedelta
import numpy as np

#input API access key
access_key = 'aed5e8f62730433c76f01c93b338a26b'



queryid = "####"
flightnotfound = False

#get all info from inputs
requested_flight_iata = "FR2552"
requested_flight_date = "17.04.2022"
daf_requested = True
iaf_requested = False
#try:
    #daf_checkbox = request.form['DA']
    #daf_requested = TRUE
#except:
    #daf_requested = FALSE
#try:
    #iaf_checkbox = request.form['IA']
    #iaf_requested = TRUE
#except:
    #iaf_requested = FALSE

#create the queryid 
queryid = str(requested_flight_iata) + str(requested_flight_date)
if daf_requested == TRUE:
    queryid += "d"
else:
    queryid += "x"
if iaf_requested == TRUE:
    queryid += "i"
else:
    queryid += "x"

#if the queryid is not already in the database
if 1 == 1:

    #query the API for the requested flight details
    flight_params = {'access_key' : access_key, 'flight_iata' : requested_flight_iata}#, 'flight_date' : requested_flight_date}

    flight_api_result = requests.get('http://api.aviationstack.com/v1/flights', flight_params)
    flight_api_response = flight_api_result.json()
    flight_api_result.close()

    #format the response ready to save to Dataframe
    temp_df = pd.DataFrame()

    for col in pd.DataFrame(list(flight_api_response['data'])).iloc[:,:-2]:
        temp_df = pd.concat([temp_df, pd.DataFrame(list(pd.DataFrame(list(flight_api_response['data']))[col])).add_prefix(col)], axis = 1)
    flight_df = temp_df

    if len(flight_df) == 0:
        flightnotfound = TRUE

    else:
        departure_iata = flight_df.iloc[0, 4]
        arrival_iata = flight_df.iloc[0, 16]
        flight_status = flight_df.iloc[0, 1]
        arrival_scheduled = pd.to_datetime(flight_df.iloc[0, 22])
        arrival_actual = pd.to_datetime(flight_df.iloc[0, 24])
        arrival_delay = flight_df.iloc[0, 21]
        arrival_timezone = flight_df.iloc[0, 15]
        departure_scheduled = pd.to_datetime(flight_df.iloc[0, 9])
        departure_actual = pd.to_datetime(flight_df.iloc[0, 11])
        departure_delay = flight_df.iloc[0, 8]
        departure_timezone = flight_df.iloc[0, 3]

        #new_flight_row = flight(queryid = queryid, flight_iata = requested_flight_iata, flight_date = requested_flight_date, departure_iata = departure_iata, arrival_iata = arrival_iata, flight_status = flight_status, arrival_scheduled = arrival_scheduled, arrival_actual = arrival_actual, arrival_delay = arrival_delay, arrival_timezone = arrival_timezone, departure_scheduled = departure_scheduled, departure_actual = departure_actual, departure_delay = departure_delay, departure_timezone = departure_timezone)
        query_departure_iata =  departure_iata
        query_arrival_iata = arrival_iata

    #if just direct alternatives, query api for
    if daf_requested == True and iaf_requested == False:
        #initialise some variables and a dataframe to collect all the query results
        offset = 0
        complete = False
        daf_df = pd.DataFrame(columns = ['flight_date0', 'flight_status0', 'departureairport', 'departuretimezone', 'departureiata', 'departureicao', 'departureterminal', 'departuregate', 'departuredelay', 'departurescheduled', 'departureestimated', 'departureactual', 'departureestimated_runway', 'departureactual_runway', 'arrivalairport', 'arrivaltimezone', 'arrivaliata', 'arrivalicao', 'arrivalterminal', 'arrivalgate', 'arrivalbaggage', 'arrivaldelay', 'arrivalscheduled', 'arrivalestimated', 'arrivalactual', 'arrivalestimated_runway', 'arrivalactual_runway', 'airlinename', 'airlineiata', 'airlineicao', 'flightnumber', 'flightiata', 'flighticao', 'flightcodeshared'])
        #query the api and collect all results
        while complete == False:
            daf_params = {'access_key' : access_key, 'dep_iata' : query_departure_iata, 'arr_iata' : query_arrival_iata, 'offset' : offset}
            daf_api_result = requests.get('http://api.aviationstack.com/v1/flights', daf_params)
            daf_api_response = daf_api_result.json()
            daf_api_result.close()

            #sort the data and add it to a dataframe
            temp_df = pd.DataFrame()
            for col in pd.DataFrame(list(daf_api_response['data'])).iloc[:,:-2]:
                temp_df = pd.concat([temp_df, pd.DataFrame(list(pd.DataFrame(list(daf_api_response['data']))[col])).add_prefix(col)], axis = 1)

            daf_df = daf_df.append(temp_df)
            offset += 100

            if len(temp_df)<100:
                complete = True
        print(daf_df) 
        #remove the requested flight from the options
        #daf_df = daf_df[(daf_df['flightiata']!= requested_flight_iata)]

        #if the flight was delayed, remove all flights that arrived after the original
        #if arrival_actual is not None:
            #daf_df = daf_df[daf_df['arrivalscheduled'] < arrival_actual]

        for row in temp_df:
            dafid= queryid + str(row)
            departure_iata = daf_df.iloc[0, 4]
            arrival_iata = daf_df.iloc[0, 16]
            flight_status = daf_df.iloc[0, 1]
            arrival_scheduled = pd.to_datetime(daf_df.iloc[0, 22])
            arrival_actual = pd.to_datetime(daf_df.iloc[0, 24])
            arrival_delay = daf_df.iloc[0, 21]
            arrival_timezone = daf_df.iloc[0, 15]
            departure_scheduled = pd.to_datetime(daf_df.iloc[0, 9])
            departure_actual = pd.to_datetime(daf_df.iloc[0, 11])
            departure_delay = daf_df.iloc[0, 8]
            departure_timezone = daf_df.iloc[0, 3]
            #new_directalternative_row = directalternative(dafid = dafid, queryid = queryid, flight_iata = requested_flight_iata, flight_date = requested_flight_date, departure_iata = departure_iata, arrival_iata = arrival_iata, flight_status = flight_status, arrival_scheduled = arrival_scheduled, arrival_actual = arrival_actual, arrival_delay = arrival_delay, arrival_timezone = arrival_timezone, departure_scheduled = departure_scheduled, departure_actual = departure_actual, departure_delay = departure_delay, departure_timezone = departure_timezone)

  flight_date0 flight_status0 departureairport departuretimezone  \
0   2022-04-17         active        Haugesund       Europe/Oslo

  departureiata departureicao departureterminal departuregate departuredelay  \
0           HAU          ENHD              None             2             27

          departurescheduled  ... arrivalactual arrivalestimated_runway  \
0  2022-04-17T18:30:00+00:00  ...          None                    None

  arrivalactual_runway airlinename airlineiata airlineicao flightnumber  \
0                 None     Ryanair          FR         RYR         2552

  flightiata flighticao flightcodeshared
0     FR2552    RYR2552             None

[1 rows x 34 columns]

In [17]:
daf_df.columns

Index(['flight_date0', 'flight_status0', 'departureairport',
       'departuretimezone', 'departureiata', 'departureicao',
       'departureterminal', 'departuregate', 'departuredelay',
       'departurescheduled', 'departureestimated', 'departureactual',
       'departureestimated_runway', 'departureactual_runway', 'arrivalairport',
       'arrivaltimezone', 'arrivaliata', 'arrivalicao', 'arrivalterminal',
       'arrivalgate', 'arrivalbaggage', 'arrivaldelay', 'arrivalscheduled',
       'arrivalestimated', 'arrivalactual', 'arrivalestimated_runway',
       'arrivalactual_runway', 'airlinename', 'airlineiata', 'airlineicao',
       'flightnumber', 'flightiata', 'flighticao', 'flightcodeshared'],
      dtype='object')

In [21]:
daf_df

,flight_date0,flight_status0,departureairport,departuretimezone,departureiata,departureicao,departureterminal,departuregate,departuredelay,departurescheduled,...,arrivalactual,arrivalestimated_runway,arrivalactual_runway,airlinename,airlineiata,airlineicao,flightnumber,flightiata,flighticao,flightcodeshared
0,2022-04-17,active,Haugesund,Europe/Oslo,HAU,ENHD,None,2,27,2022-04-17T18:30:00+00:00,...,None,None,None,Ryanair,FR,RYR,2552,FR2552,RYR2552,None

In [28]:
daf_df.iloc[0, 31]

'FR2552'

In [33]:
daf_df

,flight_date0,flight_status0,departureairport,departuretimezone,departureiata,departureicao,departureterminal,departuregate,departuredelay,departurescheduled,...,arrivalactual,arrivalestimated_runway,arrivalactual_runway,airlinename,airlineiata,airlineicao,flightnumber,flightiata,flighticao,flightcodeshared
0,2022-04-17,active,Haugesund,Europe/Oslo,HAU,ENHD,None,2,27,2022-04-17T18:30:00+00:00,...,None,None,None,Ryanair,FR,RYR,2552,FR2552,RYR2552,None

In [1]:
from pickle import FALSE, TRUE

from datetime import datetime
import pandas as pd
import requests
from datetime import timedelta
import numpy as np


access_key = 'aed5e8f62730433c76f01c93b338a26b'

requested_flight_iata = "FR2552"
requested_flight_date = "17.04.2022"

In [2]:
flight_params = {'access_key' : access_key, 'flight_iata' : requested_flight_iata}#, 'flight_date' : requested_flight_date}

flight_api_result = requests.get('http://api.aviationstack.com/v1/flights', flight_params)
flight_api_response = flight_api_result.json()
flight_api_result.close()

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import func, create_engine
import datetime as dt

In [4]:
engine = create_engine('sqlite:///test.db').connect()

flight_df = pd.read_sql_table('flight', engine)
da_df = pd.read_sql_table('directalternative', engine)
ia_df = pd.read_sql_table('indirectalternative', engine)

In [5]:
flight_df

,flightid,flight_date,flight_status,departure_timezone,departure_airport,departure_iata,departure_icao,departure_terminal,departure_gate,departure_delay,...,arrival_estimated_runway,arrival_actual_runway,airline_name,airline_iata,airline_icao,flight_number,flight_iata,flight_icao,queried_by,date_created
0,FR1232022-05-09 00:00:00,2022-06-14,scheduled,Europe/London,Gatwick,LGW,EGKK,S,None,NaN,...,NaT,NaT,Ryanair,FR,RYR,123,FR123,RYR123,jm@oracle-ra.de,2022-06-14 11:32:06.425660
1,FR1232022-06-14 00:00:00,2022-06-14,scheduled,Europe/London,Gatwick,LGW,EGKK,S,None,NaN,...,NaT,NaT,Ryanair,FR,RYR,123,FR123,RYR123,jm@oracle-ra.de,2022-06-14 11:32:06.425660
2,FR1231900-01-01 00:00:00,2022-06-14,scheduled,Europe/London,Gatwick,LGW,EGKK,S,None,NaN,...,NaT,NaT,Ryanair,FR,RYR,123,FR123,RYR123,jm@oracle-ra.de,2022-06-14 11:37:45.221069
3,FR1231900-01-02 00:00:00,2022-06-14,scheduled,Europe/London,Gatwick,LGW,EGKK,S,None,NaN,...,NaT,NaT,Ryanair,FR,RYR,123,FR123,RYR123,jm@oracle-ra.de,2022-06-14 11:50:32.074307
4,FR1322022-05-09 00:00:00,2022-06-14,landed,+1,Berlin Brandenburg Airport,BER,EDDB,2,B30,15.0,...,2022-06-14 08:45:00,2022-06-14 08:45:00,Ryanair,FR,RYR,132,FR132,RYR132,jm@oracle-ra.de,2022-06-14 11:50:32.074307
5,FR1231231231312022-05-09 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 15:31:26.218393
6,FR1231231231232022-05-09 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 15:45:55.246860
7,FR123123123132022-05-09 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 15:45:55.246860
8,FR12312312312312022-05-09 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 15:45:55.246860
9,FR110000000000002022-05-09 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 15:45:55.246860
10,FR1231231321312022-05-09 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 15:52:40.756814
11,FR12343123122022-05-09 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 15:52:40.756814
12,FR123432022-05-09 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 15:52:40.756814
13,FR123432022-04-18 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 16:06:27.005583
14,FR123432022-05-17 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 16:06:27.005583
15,FR000002022-05-09 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-14 16:30:41.388088
16,fr00000000000000002022-05-09 00:00:00,1970-01-01,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,NOTFOUND,0,0.0,...,1970-01-01 00:00:00,1970-01-01 00:00:00,NOTFOUND,NOTFOUND,NOTFOUND,0,NOTFOUND,NOTFOUND,jm@oracle-ra.de,2022-06-15 19:04:31.183717

In [4]:
month_da_df = da_df[da_df['date_created']>dt.datetime(2022, 6, 13, 0)]

In [6]:
month_da_df.sort_values('date_created')

,db_id,routeid,flight_date,flight_status,departure_timezone,departure_airport,departure_iata,departure_icao,departure_terminal,departure_gate,...,arrival_actual_runway,airline_name,airline_iata,airline_icao,flight_number,flight_iata,flight_icao,queried_by,separate_query,date_created
0,1,LGWDUB2022-05-09 00:00:00,2022-06-14,scheduled,Europe/London,Gatwick,LGW,EGKK,S,None,...,NaT,Ryanair,FR,RYR,123,FR123,RYR123,jm@oracle-ra.de,True,2022-06-14 11:32:06.432644
22,23,LGWDUB2022-06-14 00:00:00,2022-06-14,scheduled,Europe/London,Gatwick,LGW,EGKK,S,None,...,NaT,Aer Lingus,EI,EIN,243,EI243,EIN243,jm@oracle-ra.de,True,2022-06-14 11:32:06.432644
23,24,LGWDUB2022-06-14 00:00:00,2022-06-14,scheduled,Europe/London,Gatwick,LGW,EGKK,S,None,...,NaT,Aer Lingus,EI,EIN,237,EI237,EIN237,jm@oracle-ra.de,True,2022-06-14 11:32:06.432644
25,26,LGWDUB2022-06-14 00:00:00,2022-06-14,scheduled,Europe/London,Gatwick,LGW,EGKK,S,None,...,NaT,Etihad Airways,EY,ETD,1300,EY1300,ETD1300,jm@oracle-ra.de,True,2022-06-14 11:32:06.432644
26,27,LGWDUB2022-06-14 00:00:00,2022-06-14,cancelled,Europe/London,Gatwick,LGW,EGKK,S,None,...,NaT,Aer Lingus,EI,EIN,231,EI231,EIN231,jm@oracle-ra.de,True,2022-06-14 11:32:06.432644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,62,LGWDUB1900-01-02 00:00:00,2022-06-14,scheduled,Europe/London,Gatwick,LGW,EGKK,S,None,...,NaT,Ryanair,FR,RYR,117,FR117,RYR117,jm@oracle-ra.de,True,2022-06-14 11:50:32.076743
60,61,LGWDUB1900-01-02 00:00:00,2022-06-14,scheduled,Europe/London,Gatwick,LGW,EGKK,S,None,...,NaT,Ryanair,FR,RYR,123,FR123,RYR123,jm@oracle-ra.de,True,2022-06-14 11:50:32.076743
85,86,BERBCN2022-05-09 00:00:00,2022-06-13,landed,+1,Berlin Brandenburg Airport,BER,EDDB,1,B34,...,2022-06-14 01:07:00,Iberia,IB,IBE,5153,IB5153,IBE5153,jm@oracle-ra.de,True,2022-06-14 11:50:32.076743
72,73,LGWDUB1900-01-02 00:00:00,2022-06-14,cancelled,Europe/London,Gatwick,LGW,EGKK,S,None,...,NaT,British Airways,BA,BAW,5901,BA5901,BAW5901,jm@oracle-ra.de,True,2022-06-14 11:50:32.076743
86,87,BERBCN2022-05-09 00:00:00,2022-06-13,landed,+1,Berlin Brandenburg Airport,BER,EDDB,1,B34,...,2022-06-14 01:07:00,Vueling,VY,VLG,1885,VY1885,VLG1885,jm@oracle-ra.de,True,2022-06-14 11:50:32.076743

In [19]:
query_departure_iata = "LGW"
query_arrival_iata = "DUB"
access_key = "9c8669b7ff0b37ea6e988dac926c7339"

#initialise some variables and a dataframe to collect all the query results
offset = 0
complete = False
daf_df = pd.DataFrame(columns = ['flight_date0', 'flight_status0', 'departureairport', 'departuretimezone', 'departureiata', 'departureicao', 'departureterminal', 'departuregate', 'departuredelay', 'departurescheduled', 'departureestimated', 'departureactual', 'departureestimated_runway', 'departureactual_runway', 'arrivalairport', 'arrivaltimezone', 'arrivaliata', 'arrivalicao', 'arrivalterminal', 'arrivalgate', 'arrivalbaggage', 'arrivaldelay', 'arrivalscheduled', 'arrivalestimated', 'arrivalactual', 'arrivalestimated_runway', 'arrivalactual_runway', 'airlinename', 'airlineiata', 'airlineicao', 'flightnumber', 'flightiata', 'flighticao', 'flightcodeshared'])
#query the api and collect all results
while complete == False:
    daf_params = {'access_key' : access_key, 'dep_iata' : query_departure_iata, 'arr_iata' : query_arrival_iata, 'offset' : offset}
    daf_api_result = requests.get('http://api.aviationstack.com/v1/flights', daf_params)
    daf_api_response = daf_api_result.json()
    daf_api_result.close()

    #sort the data and add it to a dataframe
    temp_df = pd.DataFrame()
    for col in pd.DataFrame(list(daf_api_response['data'])).iloc[:,:-2]:
        temp_df = pd.concat([temp_df, pd.DataFrame(list(pd.DataFrame(list(daf_api_response['data']))[col])).add_prefix(col)], axis = 1)

    daf_df = daf_df.append(temp_df)
    offset += 100

    if len(temp_df)<100:
        complete = True
#drop any duplicates
#daf_df = daf_df.drop_duplicates(subset="flightiata")

In [25]:
daf_df

,flight_date0,flight_status0,departureairport,departuretimezone,departureiata,departureicao,departureterminal,departuregate,departuredelay,departurescheduled,...,arrivalactual,arrivalestimated_runway,arrivalactual_runway,airlinename,airlineiata,airlineicao,flightnumber,flightiata,flighticao,flightcodeshared
0,2022-06-14,cancelled,Gatwick,Europe/London,LGW,EGKK,S,None,NaN,2022-06-14T09:25:00+00:00,...,None,None,None,Aer Lingus,EI,EIN,231,EI231,EIN231,None
1,2022-06-14,scheduled,Gatwick,Europe/London,LGW,EGKK,S,4,10.0,2022-06-14T09:45:00+00:00,...,None,None,None,Ryanair,FR,RYR,113,FR113,RYR113,None
2,2022-06-14,scheduled,Gatwick,Europe/London,LGW,EGKK,S,None,NaN,2022-06-14T15:25:00+00:00,...,None,None,None,Etihad Airways,EY,ETD,1300,EY1300,ETD1300,"{'airline_name': 'aer lingus', 'airline_iata':..."
3,2022-06-14,scheduled,Gatwick,Europe/London,LGW,EGKK,S,None,NaN,2022-06-14T13:10:00+00:00,...,None,None,None,Ryanair,FR,RYR,115,FR115,RYR115,None
4,2022-06-14,scheduled,Gatwick,Europe/London,LGW,EGKK,S,None,NaN,2022-06-14T15:25:00+00:00,...,None,None,None,Aer Lingus,EI,EIN,237,EI237,EIN237,None
5,2022-06-14,landed,Gatwick,Europe/London,LGW,EGKK,S,4,10.0,2022-06-14T08:50:00+00:00,...,2022-06-14T10:01:00+00:00,2022-06-14T10:01:00+00:00,2022-06-14T10:01:00+00:00,Ryanair,FR,RYR,121,FR121,RYR121,None
6,2022-06-14,scheduled,Gatwick,Europe/London,LGW,EGKK,S,None,NaN,2022-06-14T14:55:00+00:00,...,None,None,None,Ryanair,FR,RYR,123,FR123,RYR123,None
7,2022-06-14,scheduled,Gatwick,Europe/London,LGW,EGKK,S,None,NaN,2022-06-14T15:25:00+00:00,...,None,None,None,British Airways,BA,BAW,5907,BA5907,BAW5907,"{'airline_name': 'aer lingus', 'airline_iata':..."
8,2022-06-14,cancelled,Gatwick,Europe/London,LGW,EGKK,S,None,NaN,2022-06-14T09:25:00+00:00,...,None,None,None,British Airways,BA,BAW,5901,BA5901,BAW5901,"{'airline_name': 'aer lingus', 'airline_iata':..."
9,2022-06-14,cancelled,Gatwick,Europe/London,LGW,EGKK,S,None,NaN,2022-06-14T09:25:00+00:00,...,None,None,None,American Airlines,AA,AAL,8055,AA8055,AAL8055,"{'airline_name': 'aer lingus', 'airline_iata':..."
10,2022-06-13,scheduled,Gatwick,Europe/London,LGW,EGKK,S,3,72.0,2022-06-13T14:55:00+00:00,...,None,None,None,Ryanair,FR,RYR,123,FR123,RYR123,None
11,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,2,20.0,2022-06-13T08:50:00+00:00,...,2022-06-13T10:12:00+00:00,2022-06-13T10:12:00+00:00,2022-06-13T10:12:00+00:00,Ryanair,FR,RYR,121,FR121,RYR121,None
12,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,5,32.0,2022-06-13T16:50:00+00:00,...,2022-06-13T18:32:00+00:00,2022-06-13T18:32:00+00:00,2022-06-13T18:32:00+00:00,Ryanair,FR,RYR,266,FR266,RYR266,None
13,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,3,21.0,2022-06-13T18:55:00+00:00,...,2022-06-13T20:05:00+00:00,2022-06-13T20:05:00+00:00,2022-06-13T20:05:00+00:00,Ryanair,FR,RYR,143,FR143,RYR143,None
14,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,2,10.0,2022-06-13T21:35:00+00:00,...,2022-06-13T22:41:00+00:00,2022-06-13T22:41:00+00:00,2022-06-13T22:41:00+00:00,Ryanair,FR,RYR,119,FR119,RYR119,None
15,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,4,23.0,2022-06-13T17:35:00+00:00,...,2022-06-13T18:53:00+00:00,2022-06-13T18:53:00+00:00,2022-06-13T18:53:00+00:00,Ryanair,FR,RYR,117,FR117,RYR117,None
16,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,3,45.0,2022-06-13T08:40:00+00:00,...,2022-06-13T10:22:00+00:00,2022-06-13T10:22:00+00:00,2022-06-13T10:22:00+00:00,American Airlines,AA,AAL,8055,AA8055,AAL8055,"{'airline_name': 'aer lingus', 'airline_iata':..."
17,2022-06-13,scheduled,Gatwick,Europe/London,LGW,EGKK,S,3,88.0,2022-06-13T13:10:00+00:00,...,None,None,None,Ryanair,FR,RYR,115,FR115,RYR115,None
18,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,2,39.0,2022-06-13T09:45:00+00:00,...,2022-06-13T11:20:00+00:00,2022-06-13T11:20:00+00:00,2022-06-13T11:20:00+00:00,Ryanair,FR,RYR,113,FR113,RYR113,None
19,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,2,32.0,2022-06-13T15:15:00+00:00,...,2022-06-13T16:47:00+00:00,2022-06-13T16:47:00+00:00,2022-06-13T16:47:00+00:00,Etihad Airways,EY,ETD,1300,EY1300,ETD1300,"{'airline_name': 'aer lingus', 'airline_iata':..."
20,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,5,NaN,2022-06-13T21:35:00+00:00,...,2022-06-13T22:23:00+00:00,2022-06-13T22:23:00+00:00,2022-06-13T22:23:00+00:00,Aer Lingus,EI,EIN,249,EI249,EIN249,None
21,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,4,2.0,2022-06-13T20:10:00+00:00,...,2022-06-13T21:03:00+00:00,2022-06-13T21:03:00+00:00,2022-06-13T21:03:00+00:00,Aer Lingus,EI,EIN,245,EI245,EIN245,None
22,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,2,9.0,2022-06-13T17:20:00+00:00,...,2022-06-13T18:30:00+00:00,2022-06-13T18:30:00+00:00,2022-06-13T18:30:00+00:00,Aer Lingus,EI,EIN,243,EI243,EIN243,None
23,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,2,32.0,2022-06-13T15:15:00+00:00,...,2022-06-13T16:47:00+00:00,2022-06-13T16:47:00+00:00,2022-06-13T16:47:00+00:00,Aer Lingus,EI,EIN,237,EI237,EIN237,None
24,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,3,45.0,2022-06-13T08:40:00+00:00,...,2022-06-13T10:22:00+00:00,2022-06-13T10:22:00+00:00,2022-06-13T10:22:00+00:00,Aer Lingus,EI,EIN,231,EI231,EIN231,None
25,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,5,NaN,2022-06-13T21:35:00+00:00,...,2022-06-13T22:23:00+00:00,2022-06-13T22:23:00+00:00,2022-06-13T22:23:00+00:00,British Airways,BA,BAW,5919,BA5919,BAW5919,"{'airline_name': 'aer lingus', 'airline_iata':..."
26,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,4,2.0,2022-06-13T20:10:00+00:00,...,2022-06-13T21:03:00+00:00,2022-06-13T21:03:00+00:00,2022-06-13T21:03:00+00:00,British Airways,BA,BAW,5915,BA5915,BAW5915,"{'airline_name': 'aer lingus', 'airline_iata':..."
27,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,2,9.0,2022-06-13T17:20:00+00:00,...,2022-06-13T18:30:00+00:00,2022-06-13T18:30:00+00:00,2022-06-13T18:30:00+00:00,British Airways,BA,BAW,5913,BA5913,BAW5913,"{'airline_name': 'aer lingus', 'airline_iata':..."
28,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,2,32.0,2022-06-13T15:15:00+00:00,...,2022-06-13T16:47:00+00:00,2022-06-13T16:47:00+00:00,2022-06-13T16:47:00+00:00,British Airways,BA,BAW,5907,BA5907,BAW5907,"{'airline_name': 'aer lingus', 'airline_iata':..."
29,2022-06-13,landed,Gatwick,Europe/London,LGW,EGKK,S,3,45.0,2022-06-13T08:40:00+00:00,...,2022-06-13T10:22:00+00:00,2022-06-13T10:22:00+00:00,2022-06-13T10:22:00+00:00,British Airways,BA,BAW,5901,BA5901,BAW5901,"{'airline_name': 'aer lingus', 'airline_iata':..."